@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Cairo", sans-serif;
  user-select: text;
  background: linear-gradient(to bottom, #fff, #eee, #fff);
}
.error {
  position: relative;
  width: 100%;
}
.error h1 {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(75%, -20%);
  width: 150%;
}
@media screen and (max-width: 991px) {
  .error h1 {
    transform: translate(0%, -20%);
  }
}
